<h1>Datos de la API de Typicode</h1>

<table>

  <tr>

    <th>ID</th>
    <th>NAME</th>
    <th>USERNAME</th>
    <th>EMAIL</th>
    <th>PHONE</th>
    <th>WEBSITE</th>
    <th>ADDRESS STREET</th>
    <th>ADDRESS CITY</th>
    <th>ADDRESS SUITE</th>
    <th>ADDRESS ZIPCODE</th>
    <th>ADDRESS GEO LAT</th>
    <th>ADDRESS GEO LNG</th>
    <th>COMPANY NAME</th>
    <th>COMPANY BS</th>
    <th>COMPANY CATCHPHRASE</th>

  </tr>

  <tr *ngFor="let dato of dataTypicode">

    <td>{{ dato.id }}</td>
    <td>{{ dato.name }}</td>
    <td>{{ dato.username }}</td>
    <td>{{ dato.email }}</td>
    <td>{{ dato.phone }}</td>
    <td>{{ dato.website }}</td>
    <td>{{ dato.address.street }}</td>
    <td>{{ dato.address.city }}</td>
    <td>{{ dato.address.suite }}</td>
    <td>{{ dato.address.zipcode }}</td>
    <td>{{ dato.address.geo.lat }}</td>
    <td>{{ dato.address.geo.lng }}</td>
    <td>{{ dato.company.name }}</td>
    <td>{{ dato.company.bs }}</td>
    <td>{{ dato.company.catchPhrase }}</td>

  </tr>

</table>